{
  "projectId": "PROJECT_ID",
  "region": "REGION",
  "storageBucket": "default-bucket",
  "firebaseEmulatorConfigFilePath": "./example/firebase.json",  
  "hub": {
    "hostname": "localhost",
    "port": "4400"
  }
}