//
// gp-firebase-emulator-unit-test
// Copyright (c) 2021-2023, Greg PFISTER. MIT License
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
// FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
// COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
// IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
// CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
//

rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    // User signed in
    function isSignedIn() {
      return request.auth != null;
    }

    // Does the logged-in user match the requested userId?
    function isUser(userId) {
      return request.auth.uid == userId;
    }      
    
    // User account
    match /users/{userId}  {
      allow read, update: if (isSignedIn() && isUser(userId));
      // allow update: if (isSignedIn() && isUser(userId) && onlyAuthorizedUserDocumentFieldUpdated());
      allow create, delete: if false;

      // User status
      match /status/{statusId} {
        allow read: if (isSignedIn() && isUser(userId));
        allow write: if false
      }
    }
  }
}